<!doctype html>
<html lang="en">

<head>
    <style>
        div {
            height: 200px;
            width: 200px;
            background-color: rgb(27, 155, 214);
        }

        .oc_visible {
            overflow: visible;
        }

        .oc_hidden {
            overflow: hidden;
        }

        .oc_scrool {
            overflow: scroll;
        }

        .oc_auto {
            overflow: auto;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet corporis cupiditate
                        dignissimos error expedita explicabo facere facilis, ipsam itaque libero modi officiis optio
                        perspiciatis provident quam sequi voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut corporis facere harum inventore
                        iure, quisquam recusandae reprehenderit veritatis voluptatum. Ducimus exercitationem illo nam
                        sapiente suscipit, tenetur ullam ut voluptas!</p>
                </div>
            </td>
            <td>

                <div class="oc_visible">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet corporis cupiditate
                        dignissimos error expedita explicabo facere facilis, ipsam itaque libero modi officiis optio
                        perspiciatis provident quam sequi voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut corporis facere harum inventore
                        iure, quisquam recusandae reprehenderit veritatis voluptatum. Ducimus exercitationem illo nam
                        sapiente suscipit, tenetur ullam ut voluptas!</p>
                </div>
            </td>
            <td>
                <div class="oc_hidden">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet corporis cupiditate
                        dignissimos error expedita explicabo facere facilis, ipsam itaque libero modi officiis optio
                        perspiciatis provident quam sequi voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut corporis facere harum inventore
                        iure, quisquam recusandae reprehenderit veritatis voluptatum. Ducimus exercitationem illo nam
                        sapiente suscipit, tenetur ullam ut voluptas!</p>
                </div>
            </td>
            <td>
                <div class="oc_scrool">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet corporis cupiditate
                        dignissimos error expedita explicabo facere facilis, ipsam itaque libero modi officiis optio
                        perspiciatis provident quam sequi voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut corporis facere harum inventore
                        iure, quisquam recusandae reprehenderit veritatis voluptatum. Ducimus exercitationem illo nam
                        sapiente suscipit, tenetur ullam ut voluptas!</p>
                </div>
            </td>
            <td>
                <div class="oc_auto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet corporis cupiditate
                        dignissimos error expedita explicabo facere facilis, ipsam itaque libero modi officiis optio
                        perspiciatis provident quam sequi voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut corporis facere harum inventore
                        iure, quisquam recusandae reprehenderit veritatis voluptatum. Ducimus exercitationem illo nam
                        sapiente suscipit, tenetur ullam ut voluptas!</p>
                </div>
            </td>
            <td>
                <div class="oc_auto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet corporis cupiditate
                        dignissimos error expedita explicabo facere facilis, ipsam itaque libero modi officiis optio
                        perspiciatis provident quam sequi voluptatem.</p>
                    
                </div>
            </td>
        </tr>
    </table>


</body>

</html>